In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("project_recommendation_dataset.csv")

In [3]:
data.head()

,Project Name,Description,Skills Required,Difficulty Level,Category,Resources
0,Image Classifier,Build a responsive portfolio website showcasin...,"C++, Data Structures",Intermediate,Game Development,https://openweathermap.org/
1,Personal Portfolio Website,Simulate a simple banking system with user acc...,"Python, pandas, sklearn",Intermediate,AI/ML,https://nltk.org/
2,Library Management System,Build an image classification model using CNNs.,"Python, pandas, sklearn",Intermediate,Machine Learning,https://kaggle.com/
3,Personal Portfolio Website,Build a tool that visualizes sorting algorithm...,"Python, NLP, NLTK",Advanced,System Design,https://freecodecamp.org/
4,Library Management System,Design a CLI-based or GUI-based game of Tic-Ta...,"Python, pandas, sklearn",Intermediate,Machine Learning,https://www.tensorflow.org/

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Project Name      2000 non-null   object
 1   Description       2000 non-null   object
 2   Skills Required   2000 non-null   object
 3   Difficulty Level  2000 non-null   object
 4   Category          2000 non-null   object
 5   Resources         2000 non-null   object
dtypes: object(6)
memory usage: 93.9+ KB

In [5]:
data.isna().sum()

Project Name        0
Description         0
Skills Required     0
Difficulty Level    0
Category            0
Resources           0
dtype: int64

In [6]:
print(data.duplicated().sum())

7

In [7]:
data.nunique()

Project Name        10
Description         10
Skills Required     10
Difficulty Level     3
Category             8
Resources            7
dtype: int64

In [8]:
data[data.duplicated()]

,Project Name,Description,Skills Required,Difficulty Level,Category,Resources
836,Personal Portfolio Website,Implement a recommendation system based on use...,"Django, Python, SQLite",Intermediate,Software Development,https://www.tensorflow.org/
844,Library Management System,Develop a chatbot using Natural Language Proce...,"C++, Algorithms",Advanced,Machine Learning,https://kaggle.com/
890,Banking System Simulation,Design a CLI-based or GUI-based game of Tic-Ta...,"Python, TensorFlow, Keras",Advanced,Game Development,https://nltk.org/
1238,E-commerce App,Build a responsive portfolio website showcasin...,"Python, Tkinter, Algorithms",Intermediate,AI/ML,https://kaggle.com/
1622,Image Classifier,Build a tool that visualizes sorting algorithm...,"C++, Data Structures",Advanced,Machine Learning,https://freecodecamp.org/
1945,Library Management System,Develop a chatbot using Natural Language Proce...,"Python, TensorFlow, Keras",Advanced,Deep Learning,https://docs.djangoproject.com/
1974,Image Classifier,Create a basic e-commerce platform with user a...,"Python, TensorFlow, Keras",Advanced,Machine Learning,https://nltk.org/

In [9]:
dt = pd.read_csv("project_recommendation_dataset_all.csv")

In [10]:
dt

,Student_ID,Branch,Skills,Interest_Area,Preferred_Domain,Complexity,CGPA,Recommended_Project
0,ST0001,Mechanical,Java,Embedded Systems,Academic,Advanced,9.49,NaN
1,ST0002,Chemical,CSS,Blockchain,Academic,Intermediate,8.47,NaN
2,ST0003,EEE,"C++, MATLAB, CSS",Blockchain,Industry,Intermediate,8.83,NaN
3,ST0004,EEE,"MATLAB, SQL, HTML, R",Web Dev,Research,Beginner,6.67,NaN
4,ST0005,IT,Python,Embedded Systems,Research,Advanced,8.78,NaN
...,...,...,...,...,...,...,...,...
1995,ST1996,Mechanical,"HTML, SQL",Robotics,Industry,Beginner,7.43,NaN
1996,ST1997,Mechanical,"JavaScript, HTML",Energy Systems,Academic,Intermediate,9.24,NaN
1997,ST1998,Mechanical,"Python, C++, R",Energy Systems,Academic,Intermediate,6.52,NaN
1998,ST1999,Chemical,"JavaScript, SQL",Robotics,Academic,Beginner,8.04,NaN
1999,ST2000,Biotech,"CAD, HTML",Embedded Systems,Academic,Advanced,7.82,NaN

In [12]:
dt.rename(columns={'Skills': 'Skills Required', 'Complexity': 'Difficulty Level'}, inplace=True)

# Function to assign projects
def assign_project(row, data):
    matching_projects = data[
        (data['Skills Required'].str.contains(row['Skills Required'], na=False)) &
        (data['Difficulty Level'] == row['Difficulty Level'])
    ]
    if not matching_projects.empty:
        return matching_projects.iloc[0]['Project Name']
    return "No suitable project"

# Apply project assignment
dt['Recommended_Project'] = dt.apply(
    lambda row: assign_project(row, data), axis=1
)

In [13]:
dt.head()

,Student_ID,Branch,Skills Required,Interest_Area,Preferred_Domain,Difficulty Level,CGPA,Recommended_Project
0,ST0001,Mechanical,Java,Embedded Systems,Academic,Advanced,9.49,Banking System Simulation
1,ST0002,Chemical,CSS,Blockchain,Academic,Intermediate,8.47,Tic-Tac-Toe Game
2,ST0003,EEE,"C++, MATLAB, CSS",Blockchain,Industry,Intermediate,8.83,No suitable project
3,ST0004,EEE,"MATLAB, SQL, HTML, R",Web Dev,Research,Beginner,6.67,No suitable project
4,ST0005,IT,Python,Embedded Systems,Research,Advanced,8.78,Personal Portfolio Website

In [14]:
dt

,Student_ID,Branch,Skills Required,Interest_Area,Preferred_Domain,Difficulty Level,CGPA,Recommended_Project
0,ST0001,Mechanical,Java,Embedded Systems,Academic,Advanced,9.49,Banking System Simulation
1,ST0002,Chemical,CSS,Blockchain,Academic,Intermediate,8.47,Tic-Tac-Toe Game
2,ST0003,EEE,"C++, MATLAB, CSS",Blockchain,Industry,Intermediate,8.83,No suitable project
3,ST0004,EEE,"MATLAB, SQL, HTML, R",Web Dev,Research,Beginner,6.67,No suitable project
4,ST0005,IT,Python,Embedded Systems,Research,Advanced,8.78,Personal Portfolio Website
...,...,...,...,...,...,...,...,...
1995,ST1996,Mechanical,"HTML, SQL",Robotics,Industry,Beginner,7.43,No suitable project
1996,ST1997,Mechanical,"JavaScript, HTML",Energy Systems,Academic,Intermediate,9.24,No suitable project
1997,ST1998,Mechanical,"Python, C++, R",Energy Systems,Academic,Intermediate,6.52,No suitable project
1998,ST1999,Chemical,"JavaScript, SQL",Robotics,Academic,Beginner,8.04,No suitable project
1999,ST2000,Biotech,"CAD, HTML",Embedded Systems,Academic,Advanced,7.82,No suitable project

In [2]:
new_data = pd.read_csv("detailed_project_recommendation_dataset.csv")

In [3]:
new_data

,Project Name,Description,Skills Required,Difficulty Level,Category,Resources,Student_ID,Branch,Interest_Area,Preferred_Domain,CGPA
0,Image Classifier,Develop a fully interactive and engaging game ...,"C++, Data Structures",Intermediate,Game Development,https://openweathermap.org/,STU00001,ME,Game Development,Game Development,7.50
1,Personal Portfolio Website,Develop a fully interactive and engaging game ...,"Python, pandas, sklearn",Intermediate,AI/ML,https://nltk.org/,STU00002,EEE,Game Development,Web Development,9.80
2,Library Management System,Work on a project related to the assigned area...,"Python, pandas, sklearn",Intermediate,Machine Learning,https://kaggle.com/,STU00003,ME,Blockchain,Data Structures,8.93
3,Personal Portfolio Website,Develop a fully interactive and engaging game ...,"Python, NLP, NLTK",Advanced,System Design,https://freecodecamp.org/,STU00004,IT,Game Development,Game Development,8.39
4,Library Management System,Build a responsive and user-friendly web appli...,"Python, pandas, sklearn",Intermediate,Machine Learning,https://www.tensorflow.org/,STU00005,ECE,Web Development,System Design,6.62
...,...,...,...,...,...,...,...,...,...,...,...
1995,E-commerce App,Build a responsive and user-friendly web appli...,"Django, Python, SQLite",Advanced,Machine Learning,https://docs.djangoproject.com/,STU01996,EEE,Web Development,Deep Learning,8.63
1996,Image Classifier,Work on a project related to the assigned area...,"C++, Data Structures",Advanced,Software Development,https://www.geeksforgeeks.org/,STU01997,ME,Blockchain,System Design,9.83
1997,Tic-Tac-Toe Game,Work on a project related to the assigned area...,"Django, Python, SQLite",Intermediate,Web Development,https://www.geeksforgeeks.org/,STU01998,ME,Blockchain,Data Structures,6.28
1998,Sorting Visualizer,Build a responsive and user-friendly web appli...,"Python, TensorFlow, Keras",Advanced,Data Structures,https://docs.djangoproject.com/,STU01999,EEE,Web Development,Web Development,6.23
1999,Banking System Simulation,Work on a project related to the assigned area...,"C++, Data Structures",Advanced,Game Development,https://www.geeksforgeeks.org/,STU02000,ECE,Blockchain,AI/ML,7.13

In [5]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Project Name      2000 non-null   object
 1   Description       2000 non-null   object
 2   Skills Required   2000 non-null   object
 3   Difficulty Level  2000 non-null   object
 4   Category          2000 non-null   object
 5   Resources         2000 non-null   object
 6   Student_ID        2000 non-null   object
 7   Branch            2000 non-null   object
 8   Interest_Area     2000 non-null   object
 9   Preferred_Domain  2000 non-null   object
 10  CGPA              2000 non-null   float64
dtypes: float64(1), object(10)
memory usage: 172.0+ KB

In [6]:
new_data['Project Name'].value_counts()

Project Name
Chatbot                        213
Library Management System      208
Sorting Visualizer             206
E-commerce App                 205
Weather App                    203
Image Classifier               202
Tic-Tac-Toe Game               201
Personal Portfolio Website     194
Banking System Simulation      192
Movie Recommendation System    176
Name: count, dtype: int64

In [2]:
dt1 = pd.read_csv("computer_science_dataset_multiple_fields.csv")

In [3]:
dt1

,Name,Branch,Field of Interest,Domain of Interest,Languages Known,Frameworks Used,Tools Experience,Technologies to Learn,Project Duration,Open-Source Contribution,Achievements
0,Aaron Patel,Civil Engineering,"['computational theory', 'bioinformatics']",['game development'],['Go'],"['Ruby on Rails', 'Nuxt.js', 'Spring Boot']",['Git'],"['PostgreSQL', 'PyTorch']",1 week,Contributed to XYZ project,No achievements
1,Emily Avery,Mechanical Engineering,['embedded systems'],['artificial intelligence and machine learning...,"['MATLAB', 'R']","['Next.js', 'Ruby on Rails', 'React Native']",['Elasticsearch'],"['PyTorch', 'Git']",2 months,No open-source contribution,No achievements
2,Melvin Steele,Electrical Engineering,"['deep learning', 'computer architecture', 'IoT']",['artificial intelligence and machine learning'],"['Ruby', 'Lua', 'Python', 'C#', 'Kotlin']","['Next.js', 'React Native']",['Google Cloud'],"['TensorFlow', 'MongoDB']",1 month,No open-source contribution,No achievements
3,Christina Johnson,Mechanical Engineering,"['edge computing', 'natural language processing']",['web and mobile development'],"['Kotlin', 'Swift', 'Go', 'Objective-C']","['Flask', 'NestJS', 'Ruby on Rails']","['PostgreSQL', 'Docker']",['PostgreSQL'],1 week,No open-source contribution,No achievements
4,Jamie King,Computer Science,"['digital signal processing', 'blockchain']","['IoT', 'artificial intelligence and machine l...","['TypeScript', 'C#', 'Lua']","['React', 'Ionic', 'React Native']","['PostgreSQL', 'Elasticsearch']","['PyTorch', 'Kubernetes', 'TensorFlow', 'Git']",1 week,No open-source contribution,Awarded XYZ in Computer Science
...,...,...,...,...,...,...,...,...,...,...,...
1995,Kathleen Jenkins,Biotechnology,['natural language processing'],['IoT'],['Python'],"['Vue.js', 'Ionic', 'Laravel', 'NestJS']",['Docker'],"['PyTorch', 'TensorFlow', 'Kubernetes', 'GitLab']",1 week,Contributed to XYZ project,No achievements
1996,Sarah Wilson,Computer Science,['algorithms'],"['web and mobile development', 'cybersecurity'...",['Swift'],['Svelte'],"['Jenkins', 'AWS', 'MySQL']","['TensorFlow', 'Redis']",2 months,Contributed to XYZ project,No achievements
1997,Mandy Kim,Electrical Engineering,"['deep learning', 'bioinformatics', 'natural l...","['blockchain', 'data science and analytics', '...","['JavaScript', 'TypeScript', 'MATLAB', 'C#', '...","['Vue.js', 'Meteor']","['Jenkins', 'TensorFlow', 'MySQL', 'MongoDB']",['PostgreSQL'],1 week,Contributed to XYZ project,No achievements
1998,Bryan Howell,Electronics and Communication,"['system architecture', 'bioinformatics']","['game development', 'cybersecurity', 'robotics']","['TypeScript', 'JavaScript', 'Go']","['Nuxt.js', 'Flask', 'Svelte', 'Ionic']",['Keras'],"['MongoDB', 'Ansible', 'GitHub', 'PostgreSQL']",2 months,Contributed to XYZ project,No achievements
1999,Wendy Smith,Civil Engineering,"['computational theory', 'robotics', 'cloud se...",['cybersecurity'],"['Swift', 'MATLAB', 'R']",['Meteor'],"['TensorFlow', 'AWS', 'Redis']","['GitHub', 'Google Cloud']",1 week,Contributed to XYZ project,No achievements

In [6]:
import random

# Comprehensive skill-based project mapping
projects_by_skills = {
    "Machine Learning and Data Science": [
        {
            "name": "Customer Churn Prediction Model",
            "description": "Develop a predictive model to identify potential customer churn using advanced machine learning techniques",
            "skills": "Python, Machine Learning, Data Analysis, Pandas, Scikit-learn",
            "frameworks": "TensorFlow, Keras, Jupyter Notebook",
            "tools": "Anaconda, GitHub, Google Colab",
            "level": "Advanced",
            "category": "Machine Learning",
            "domain": "Business Analytics"
        },
        {
            "name": "Disease Diagnosis Prediction System",
            "description": "Create an AI-powered system to predict potential diseases based on medical data and symptoms",
            "skills": "Python, Machine Learning, Deep Learning, Medical Data Analysis",
            "frameworks": "PyTorch, TensorFlow, Keras",
            "tools": "Pandas, NumPy, Matplotlib, Seaborn",
            "level": "Expert",
            "category": "AI in Healthcare",
            "domain": "Healthcare"
        }
    ],
    "Web Development": [
        {
            "name": "Sustainable Food Marketplace Platform",
            "description": "Build a comprehensive web platform connecting local farmers with urban consumers",
            "skills": "Full-stack Web Development, React, Node.js, Database Management",
            "frameworks": "React, Express.js, MongoDB",
            "tools": "VS Code, Postman, Docker, GitHub",
            "level": "Intermediate",
            "category": "Web Development",
            "domain": "Agriculture"
        },
        {
            "name": "Educational Resource Sharing Network",
            "description": "Develop a collaborative platform for students and educators to share learning resources",
            "skills": "Web Development, User Authentication, Content Management",
            "frameworks": "Django, PostgreSQL, GraphQL",
            "tools": "GitHub, Redis, Nginx",
            "level": "Advanced",
            "category": "Web Development",
            "domain": "Education"
        }
    ],
    "Cybersecurity": [
        {
            "name": "Network Intrusion Detection System",
            "description": "Develop an intelligent system to detect and prevent network security breaches",
            "skills": "Network Security, Machine Learning, Python, Cybersecurity",
            "frameworks": "Scapy, TensorFlow, Django",
            "tools": "Wireshark, Metasploit, Kali Linux",
            "level": "Expert",
            "category": "Cybersecurity",
            "domain": "Information Technology"
        },
        {
            "name": "Secure Communication Platform",
            "description": "Create an encrypted communication platform with advanced security features",
            "skills": "Cryptography, Network Security, Web Development",
            "frameworks": "Flask, PyNaCl, WebSocket",
            "tools": "OpenSSL, Docker, GitHub",
            "level": "Advanced",
            "category": "Cybersecurity",
            "domain": "Communication"
        }
    ],
    "Internet of Things (IoT)": [
        {
            "name": "Smart Agricultural Monitoring System",
            "description": "Design an IoT solution for real-time crop health and environmental monitoring",
            "skills": "IoT, Sensor Programming, Data Analysis, Embedded Systems",
            "frameworks": "Arduino, Raspberry Pi, MQTT",
            "tools": "ThingSpeak, Node-RED, Grafana",
            "level": "Intermediate",
            "category": "IoT",
            "domain": "Agriculture"
        },
        {
            "name": "Urban Energy Efficiency Tracker",
            "description": "Develop an IoT system to monitor and optimize energy consumption in urban buildings",
            "skills": "IoT, Energy Management, Data Visualization, Sensor Integration",
            "frameworks": "Raspberry Pi, ESP32, InfluxDB",
            "tools": "Grafana, IFTTT, Power BI",
            "level": "Advanced",
            "category": "IoT",
            "domain": "Energy"
        }
    ],
    "Mobile App Development": [
        {
            "name": "Mental Health Support Mobile App",
            "description": "Create a mobile application providing mental health resources and tracking",
            "skills": "Mobile Development, UI/UX Design, Healthcare Technology",
            "frameworks": "Flutter, Firebase, GetX",
            "tools": "Android Studio, Figma, GitHub",
            "level": "Intermediate",
            "category": "Mobile App",
            "domain": "Healthcare"
        },
        {
            "name": "Community Skill Exchange Platform",
            "description": "Develop a mobile app for local skill sharing and community learning",
            "skills": "Mobile Development, Social Networking, Geolocation",
            "frameworks": "React Native, Node.js, GraphQL",
            "tools": "Firebase, Mapbox, GitHub",
            "level": "Advanced",
            "category": "Mobile App",
            "domain": "Social Networking"
        }
    ]
}

# Student branches and their typical skill alignments
branches = {
    "Computer Science": ["Machine Learning and Data Science", "Web Development", "Cybersecurity"],
    "Information Technology": ["Web Development", "Cybersecurity", "IoT"],
    "Electronics": ["IoT", "Cybersecurity"],
    "Electrical Engineering": ["IoT", "Mobile App Development"],
    "Data Science": ["Machine Learning and Data Science"],
    "Artificial Intelligence": ["Machine Learning and Data Science", "Cybersecurity"],
    "Software Engineering": ["Web Development", "Mobile App Development"],
    "Cybersecurity": ["Cybersecurity"],
    "Biotechnology": ["Machine Learning and Data Science"]
}

# Function to generate realistic CGPA
def generate_cgpa():
    return round(np.random.normal(7.5, 1.0), 2)

# Generate the dataset
np.random.seed(42)
data = []

for _ in range(5000):
    # Select a branch
    branch = random.choice(list(branches.keys()))
    
    # Select a skill category aligned with the branch
    skill_category = random.choice(branches[branch])
    
    # Select a specific project from that skill category
    project = random.choice(projects_by_skills[skill_category])
    
    data.append({
        'Project Name': project['name'],
        'Project Description': project['description'],
        'Skills Required': project['skills'],
        'Frameworks Needed': project['frameworks'],
        'Tools and Technology': project['tools'],
        'Project Level': project['level'],
        'Project Category': project['category'],
        'Project Domain': project['domain'],
        'Approximate Time to Complete (weeks)': random.randint(8, 24),
        'Branch': branch,
        'CGPA': generate_cgpa()
    })

# Create DataFrame
df = pd.DataFrame(data)

# Save to CSV
df.to_csv('skill_driven_project_dataset.csv', index=False)

# Display first few rows and basic info
print(df.head())
print("\nDataset Information:")
print(f"Total Rows: {len(df)}")
print("\nColumn Descriptions:")
print(df.dtypes)

KeyError: 'IoT'

In [7]:
import pandas as pd
import random

# Example data for each column
project_names = [
    "AI Chatbot Development", "E-commerce Website", "Healthcare Prediction System",
    "Social Media Analysis Tool", "Online Quiz Platform", "IoT Home Automation",
    "Blockchain Voting System", "Weather Forecasting App", "Game Development",
    "Cybersecurity Dashboard"
]

project_descriptions = [
    "Develop an AI-based chatbot using NLP and machine learning.",
    "Build a user-friendly e-commerce website with payment gateway integration.",
    "Create a predictive system for healthcare using machine learning.",
    "Analyze social media trends using big data tools.",
    "Design a platform for conducting online quizzes.",
    "Implement IoT-based automation for smart homes.",
    "Develop a secure blockchain-based voting application.",
    "Build an application for weather forecasting using meteorological data.",
    "Create an engaging game with unique mechanics and design.",
    "Design a dashboard to monitor and prevent cybersecurity threats."
]

skills_required = [
    ["Python", "NLP", "Machine Learning"],
    ["HTML", "CSS", "JavaScript", "PHP"],
    ["Python", "Pandas", "Scikit-learn"],
    ["Python", "Big Data", "Hadoop"],
    ["JavaScript", "Node.js", "React"],
    ["C++", "Arduino", "IoT"],
    ["Solidity", "Blockchain", "Cryptography"],
    ["Python", "Data Science", "Flask"],
    ["C#", "Unity", "Game Design"],
    ["Python", "Network Security", "Django"]
]

frameworks = [
    "TensorFlow", "Bootstrap", "Django", "Hadoop", "Express.js", "IoT SDK", "Ethereum", "Flask", "Unity", "Flask"
]

tools_technologies = [
    "VS Code, Jupyter Notebook", "Figma, Git", "Jupyter, PyCharm", "Apache Spark, Hive",
    "Node.js, Git", "Raspberry Pi, IoT SDK", "Truffle, Ganache", "Matplotlib, Flask",
    "Blender, Unity", "Kali Linux, Wireshark"
]

project_levels = ["Beginner", "Intermediate", "Advanced"]

categories = ["Web Development", "Data Science", "IoT", "Blockchain", "Game Development", "Cybersecurity"]

domains = ["Education", "Healthcare", "E-commerce", "Entertainment", "Finance", "Technology"]

branches = ["CSE", "IT", "ECE", "EEE", "MECH"]

cgpas = [round(random.uniform(6.0, 10.0), 2) for _ in range(5000)]

# Generate the dataset
data = []

for _ in range(5000):
    project_idx = random.randint(0, len(project_names) - 1)
    row = {
        "Project Name": project_names[project_idx],
        "Project Description": project_descriptions[project_idx],
        "Skills Required": ", ".join(skills_required[project_idx]),
        "Framework": frameworks[project_idx],
        "Tools and Technology": tools_technologies[project_idx],
        "Project Level": random.choice(project_levels),
        "Category": random.choice(categories),
        "Domain": random.choice(domains),
        "Approx Time (in weeks)": random.randint(4, 24),
        "Branch": random.choice(branches),
        "CGPA": round(random.uniform(6.0, 10.0), 2)
    }
    data.append(row)

# Create a DataFrame
df = pd.DataFrame(data)

# Save to CSV
# df.to_csv("project_dataset.csv", index=False)

print("Dataset generated and saved as", project_dataset.csv)

Dataset generated and saved as 'project_dataset.csv'

In [9]:
data1 = pd.read_csv('project_dataset.csv')
data1

,Project Name,Project Description,Skills Required,Framework,Tools and Technology,Project Level,Category,Domain,Approx Time (in weeks),Branch,CGPA
0,IoT Home Automation,Implement IoT-based automation for smart homes.,"C++, Arduino, IoT",IoT SDK,"Raspberry Pi, IoT SDK",Beginner,Cybersecurity,Finance,7,MECH,9.51
1,Weather Forecasting App,Build an application for weather forecasting u...,"Python, Data Science, Flask",Flask,"Matplotlib, Flask",Advanced,Cybersecurity,Finance,12,EEE,9.72
2,IoT Home Automation,Implement IoT-based automation for smart homes.,"C++, Arduino, IoT",IoT SDK,"Raspberry Pi, IoT SDK",Beginner,Blockchain,Technology,22,CSE,8.98
3,Weather Forecasting App,Build an application for weather forecasting u...,"Python, Data Science, Flask",Flask,"Matplotlib, Flask",Advanced,Data Science,Entertainment,18,ECE,7.40
4,AI Chatbot Development,Develop an AI-based chatbot using NLP and mach...,"Python, NLP, Machine Learning",TensorFlow,"VS Code, Jupyter Notebook",Beginner,IoT,E-commerce,22,MECH,6.61
...,...,...,...,...,...,...,...,...,...,...,...
4995,E-commerce Website,Build a user-friendly e-commerce website with ...,"HTML, CSS, JavaScript, PHP",Bootstrap,"Figma, Git",Advanced,Web Development,Technology,16,MECH,9.13
4996,Social Media Analysis Tool,Analyze social media trends using big data tools.,"Python, Big Data, Hadoop",Hadoop,"Apache Spark, Hive",Intermediate,Cybersecurity,E-commerce,8,ECE,9.41
4997,E-commerce Website,Build a user-friendly e-commerce website with ...,"HTML, CSS, JavaScript, PHP",Bootstrap,"Figma, Git",Advanced,Blockchain,Finance,12,MECH,6.47
4998,Game Development,Create an engaging game with unique mechanics ...,"C#, Unity, Game Design",Unity,"Blender, Unity",Beginner,Web Development,Healthcare,19,EEE,7.17
4999,AI Chatbot Development,Develop an AI-based chatbot using NLP and mach...,"Python, NLP, Machine Learning",TensorFlow,"VS Code, Jupyter Notebook",Intermediate,Web Development,Entertainment,11,IT,9.85