In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("project_recommendation_dataset.csv")

In [3]:
data.head()

,Project Name,Description,Skills Required,Difficulty Level,Category,Resources
0,Image Classifier,Build a responsive portfolio website showcasin...,"C++, Data Structures",Intermediate,Game Development,https://openweathermap.org/
1,Personal Portfolio Website,Simulate a simple banking system with user acc...,"Python, pandas, sklearn",Intermediate,AI/ML,https://nltk.org/
2,Library Management System,Build an image classification model using CNNs.,"Python, pandas, sklearn",Intermediate,Machine Learning,https://kaggle.com/
3,Personal Portfolio Website,Build a tool that visualizes sorting algorithm...,"Python, NLP, NLTK",Advanced,System Design,https://freecodecamp.org/
4,Library Management System,Design a CLI-based or GUI-based game of Tic-Ta...,"Python, pandas, sklearn",Intermediate,Machine Learning,https://www.tensorflow.org/

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Project Name      2000 non-null   object
 1   Description       2000 non-null   object
 2   Skills Required   2000 non-null   object
 3   Difficulty Level  2000 non-null   object
 4   Category          2000 non-null   object
 5   Resources         2000 non-null   object
dtypes: object(6)
memory usage: 93.9+ KB

In [5]:
data.isna().sum()

Project Name        0
Description         0
Skills Required     0
Difficulty Level    0
Category            0
Resources           0
dtype: int64

In [6]:
print(data.duplicated().sum())

7

In [7]:
data.nunique()

Project Name        10
Description         10
Skills Required     10
Difficulty Level     3
Category             8
Resources            7
dtype: int64

In [8]:
data[data.duplicated()]

,Project Name,Description,Skills Required,Difficulty Level,Category,Resources
836,Personal Portfolio Website,Implement a recommendation system based on use...,"Django, Python, SQLite",Intermediate,Software Development,https://www.tensorflow.org/
844,Library Management System,Develop a chatbot using Natural Language Proce...,"C++, Algorithms",Advanced,Machine Learning,https://kaggle.com/
890,Banking System Simulation,Design a CLI-based or GUI-based game of Tic-Ta...,"Python, TensorFlow, Keras",Advanced,Game Development,https://nltk.org/
1238,E-commerce App,Build a responsive portfolio website showcasin...,"Python, Tkinter, Algorithms",Intermediate,AI/ML,https://kaggle.com/
1622,Image Classifier,Build a tool that visualizes sorting algorithm...,"C++, Data Structures",Advanced,Machine Learning,https://freecodecamp.org/
1945,Library Management System,Develop a chatbot using Natural Language Proce...,"Python, TensorFlow, Keras",Advanced,Deep Learning,https://docs.djangoproject.com/
1974,Image Classifier,Create a basic e-commerce platform with user a...,"Python, TensorFlow, Keras",Advanced,Machine Learning,https://nltk.org/

In [9]:
dt = pd.read_csv("project_recommendation_dataset_all.csv")

In [10]:
dt

,Student_ID,Branch,Skills,Interest_Area,Preferred_Domain,Complexity,CGPA,Recommended_Project
0,ST0001,Mechanical,Java,Embedded Systems,Academic,Advanced,9.49,NaN
1,ST0002,Chemical,CSS,Blockchain,Academic,Intermediate,8.47,NaN
2,ST0003,EEE,"C++, MATLAB, CSS",Blockchain,Industry,Intermediate,8.83,NaN
3,ST0004,EEE,"MATLAB, SQL, HTML, R",Web Dev,Research,Beginner,6.67,NaN
4,ST0005,IT,Python,Embedded Systems,Research,Advanced,8.78,NaN
...,...,...,...,...,...,...,...,...
1995,ST1996,Mechanical,"HTML, SQL",Robotics,Industry,Beginner,7.43,NaN
1996,ST1997,Mechanical,"JavaScript, HTML",Energy Systems,Academic,Intermediate,9.24,NaN
1997,ST1998,Mechanical,"Python, C++, R",Energy Systems,Academic,Intermediate,6.52,NaN
1998,ST1999,Chemical,"JavaScript, SQL",Robotics,Academic,Beginner,8.04,NaN
1999,ST2000,Biotech,"CAD, HTML",Embedded Systems,Academic,Advanced,7.82,NaN

In [12]:
dt.rename(columns={'Skills': 'Skills Required', 'Complexity': 'Difficulty Level'}, inplace=True)

# Function to assign projects
def assign_project(row, data):
    matching_projects = data[
        (data['Skills Required'].str.contains(row['Skills Required'], na=False)) &
        (data['Difficulty Level'] == row['Difficulty Level'])
    ]
    if not matching_projects.empty:
        return matching_projects.iloc[0]['Project Name']
    return "No suitable project"

# Apply project assignment
dt['Recommended_Project'] = dt.apply(
    lambda row: assign_project(row, data), axis=1
)

In [13]:
dt.head()

,Student_ID,Branch,Skills Required,Interest_Area,Preferred_Domain,Difficulty Level,CGPA,Recommended_Project
0,ST0001,Mechanical,Java,Embedded Systems,Academic,Advanced,9.49,Banking System Simulation
1,ST0002,Chemical,CSS,Blockchain,Academic,Intermediate,8.47,Tic-Tac-Toe Game
2,ST0003,EEE,"C++, MATLAB, CSS",Blockchain,Industry,Intermediate,8.83,No suitable project
3,ST0004,EEE,"MATLAB, SQL, HTML, R",Web Dev,Research,Beginner,6.67,No suitable project
4,ST0005,IT,Python,Embedded Systems,Research,Advanced,8.78,Personal Portfolio Website

In [14]:
dt

,Student_ID,Branch,Skills Required,Interest_Area,Preferred_Domain,Difficulty Level,CGPA,Recommended_Project
0,ST0001,Mechanical,Java,Embedded Systems,Academic,Advanced,9.49,Banking System Simulation
1,ST0002,Chemical,CSS,Blockchain,Academic,Intermediate,8.47,Tic-Tac-Toe Game
2,ST0003,EEE,"C++, MATLAB, CSS",Blockchain,Industry,Intermediate,8.83,No suitable project
3,ST0004,EEE,"MATLAB, SQL, HTML, R",Web Dev,Research,Beginner,6.67,No suitable project
4,ST0005,IT,Python,Embedded Systems,Research,Advanced,8.78,Personal Portfolio Website
...,...,...,...,...,...,...,...,...
1995,ST1996,Mechanical,"HTML, SQL",Robotics,Industry,Beginner,7.43,No suitable project
1996,ST1997,Mechanical,"JavaScript, HTML",Energy Systems,Academic,Intermediate,9.24,No suitable project
1997,ST1998,Mechanical,"Python, C++, R",Energy Systems,Academic,Intermediate,6.52,No suitable project
1998,ST1999,Chemical,"JavaScript, SQL",Robotics,Academic,Beginner,8.04,No suitable project
1999,ST2000,Biotech,"CAD, HTML",Embedded Systems,Academic,Advanced,7.82,No suitable project

In [2]:
new_data = pd.read_csv("detailed_project_recommendation_dataset.csv")

In [3]:
new_data

,Project Name,Description,Skills Required,Difficulty Level,Category,Resources,Student_ID,Branch,Interest_Area,Preferred_Domain,CGPA
0,Image Classifier,Develop a fully interactive and engaging game ...,"C++, Data Structures",Intermediate,Game Development,https://openweathermap.org/,STU00001,ME,Game Development,Game Development,7.50
1,Personal Portfolio Website,Develop a fully interactive and engaging game ...,"Python, pandas, sklearn",Intermediate,AI/ML,https://nltk.org/,STU00002,EEE,Game Development,Web Development,9.80
2,Library Management System,Work on a project related to the assigned area...,"Python, pandas, sklearn",Intermediate,Machine Learning,https://kaggle.com/,STU00003,ME,Blockchain,Data Structures,8.93
3,Personal Portfolio Website,Develop a fully interactive and engaging game ...,"Python, NLP, NLTK",Advanced,System Design,https://freecodecamp.org/,STU00004,IT,Game Development,Game Development,8.39
4,Library Management System,Build a responsive and user-friendly web appli...,"Python, pandas, sklearn",Intermediate,Machine Learning,https://www.tensorflow.org/,STU00005,ECE,Web Development,System Design,6.62
...,...,...,...,...,...,...,...,...,...,...,...
1995,E-commerce App,Build a responsive and user-friendly web appli...,"Django, Python, SQLite",Advanced,Machine Learning,https://docs.djangoproject.com/,STU01996,EEE,Web Development,Deep Learning,8.63
1996,Image Classifier,Work on a project related to the assigned area...,"C++, Data Structures",Advanced,Software Development,https://www.geeksforgeeks.org/,STU01997,ME,Blockchain,System Design,9.83
1997,Tic-Tac-Toe Game,Work on a project related to the assigned area...,"Django, Python, SQLite",Intermediate,Web Development,https://www.geeksforgeeks.org/,STU01998,ME,Blockchain,Data Structures,6.28
1998,Sorting Visualizer,Build a responsive and user-friendly web appli...,"Python, TensorFlow, Keras",Advanced,Data Structures,https://docs.djangoproject.com/,STU01999,EEE,Web Development,Web Development,6.23
1999,Banking System Simulation,Work on a project related to the assigned area...,"C++, Data Structures",Advanced,Game Development,https://www.geeksforgeeks.org/,STU02000,ECE,Blockchain,AI/ML,7.13

In [5]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Project Name      2000 non-null   object
 1   Description       2000 non-null   object
 2   Skills Required   2000 non-null   object
 3   Difficulty Level  2000 non-null   object
 4   Category          2000 non-null   object
 5   Resources         2000 non-null   object
 6   Student_ID        2000 non-null   object
 7   Branch            2000 non-null   object
 8   Interest_Area     2000 non-null   object
 9   Preferred_Domain  2000 non-null   object
 10  CGPA              2000 non-null   float64
dtypes: float64(1), object(10)
memory usage: 172.0+ KB

In [6]:
new_data['Project Name'].value_counts()

Project Name
Chatbot                        213
Library Management System      208
Sorting Visualizer             206
E-commerce App                 205
Weather App                    203
Image Classifier               202
Tic-Tac-Toe Game               201
Personal Portfolio Website     194
Banking System Simulation      192
Movie Recommendation System    176
Name: count, dtype: int64

In [ ]:
about_project = new_data['Description','Resources','Student_ID']